<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{name}} GIST</title>
  <meta name="description" content="A tool for generating 3D printable Tactile Maps based on a user's unique needs">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Metro 4 -->
  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  <!-- GIST Custom-->
  <script src="js/objLoader.js"></script>
  <script src="js/tacticLoader.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "css/main.css">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <script src="{{url_for('static', filename='js/objLoader.js')}}"></script>
  <script src="{{url_for('static', filename='js/tacticLoader.js')}}"></script>
</head>

<body>
  <div class="content container-fluid">

    <div id="titleSection" class="spaced-div">
      <h1>{{name}} GIST</h1>
    </div>

    <form id="settings" method="post"></form>
<!--    <form id="configForm" method="post"></form>-->

    <div id="config" class="spaced-div">
      <h2>Configuration</h2>

      {{config_params | safe}}
    </div>

    <div id="objectives">
      <h2>Objectives</h2>

      <div id="Obj_input" class="spaced-div">
        <label for="add_obj" class="hiddenLabels"> Available Objectives</label>
<!--        <select name="add_obj" id="add_obj" form="settings">-->
<!--          <option value="lessThanGuess">lessThanGuess</option>-->
<!--          <option value="greaterThanGuess">greaterThanGuess</option>-->
<!--        </select>-->
        <select name="add_obj" id="add_obj" form="settings">
          {% for objective in objectives %}
          <option value="{{ objective }}">{{ objective }}</option>
          {% endfor %}
        </select>

        <label for="add_obj_trigger" class="hiddenLabels">Add Objective</label>
        <input type="button"
               class="button spaced-elm"
               id="add_obj_trigger"
               value="Add Objective"
               onclick="addObjective()">
      </div>


      <div id="obj_table_div" class="spaced-div">
        <table id="obj_table" class="table striped row-hover">
        <thead>
        <tr>
          <th>Importance</th>
          <th>Objective</th>
          <th>Objective Parameters</th>
          <th>Remove Objective</th>
        </tr>
        </thead>

        <tbody id="obj_table_body" >
        </tbody>

        </table>
      </div>
    </div>

    <div id="optional_tactics">
      <h2>Tactics</h2>
      <div id="tactic_src" class="spaced-div">
        <label for="select_tactic_src"></label>
        <select name="select_tactic_src" id="select_tactic_src" form="settings" onchange="displayTacticChoices(this);">
          <option value="learn">Learn Tactic Weights</option>
          <option value="custom"> Set Custom Tactic Weights</option>
          <option value="default">Use Programmed Defaults</option>
        </select>
      </div>

      <div id="tactic_map" class="spaced-div" hidden>
        <div id="tactic_input" class="spaced-div">
          <label for="add_tactic" class="hiddenLabels">Available Tactics</label>
          <select name="add_tactic" id="add_tactic">
<!--            <option value="incrementGuess">Increment Guess</option>-->
<!--            <option value="decrementGuess">Decrement Guess</option>-->
            {% for tactic in tactics %}
            <option value="{{ tactic }}">{{ tactic }}</option>
            {% endfor %}
          </select>

          <label for="add_tactic_trigger" class="hiddenLabels">Add Tactic</label>
          <input type="button"
                 class="button"
                 id="add_tactic_trigger"
                 value="Add Tactic"
                 onclick="addTactic()"
          >
        </div>

        <div data-role="accordion" data-one-frame="true" data-show-active="true" class="spaced-div"
             id="tactic_accordion">

        </div>
      </div>
    </div>

    <div id="hiddenSubmission">
      <label for="objWeightMap_text"></label>
      <input type="text" id="objWeightMap_text" name="objWeightMap_text" value="{}" size="100%" form="settings">
      <p id="objsToAttributes">{{objective_data}}</p>

<!--        {"lessThanGuess": {"targetValue": {"type": "float", "value": 1.0}, "distance_bound": {"type": "float", "value": 1.0}}, "greaterThanGuess": {"targetValue": {"type": "float", "value": 1.0}, "distance_bound": {"type": "float", "value": 1.0}}}-->
        <!--        {"obj1": {"target_value": {"type": "float", "value": 1.0}, "isTrue": {"type":"bool", "value": "True"}}}-->

      <label for="tacticWeight_text"></label>
      <input type="text" id="tacticWeight_text" name="tacticWeight_text" value="{}" size="100%" form="settings">
      <p id="tacticsToAttributes">{{tactic_data}}</p>

<!--        {"incrementGuess": {"targetValue": {"type": "float", "value": 1.0}, "distance_bound": {"type": "float", "value": 1.0}}, "decrementGuess": {"targetValue": {"type": "float", "value": 1.0}, "distance_bound": {"type": "float", "value": 1.0}}}-->

<!--      <label for="configMarker">Config</label>-->
<!--      <input type="text" id="configMarker" form="configForm" name="config" value="config">-->
<!--      <label for="settingMarker"></label>-->
<!--      <input type="text" id="settingMarker" form="settings" name="set" value="set">-->
    </div>

    <div id="submission_div" class="spaced-div">
      <label for="settings_submission"></label>
      <input id="settings_submission" class="button success" type="button" value="Submit" onclick="submitConfig()" disabled>
    </div>


  </div>


</body>

</html>
