<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Name}} Recipe</title>
</head>
<body>
    <div id="details">
        <h1>{{Name}} Recipe</h1>
        <h2> Active Time: 20 minutes</h2>
        <h2> Total Time: 1 hour And 50 minutes</h2>
        <h2> Yield {{cookie_count}} Cookies </h2>
    </div>
    <div id="ingredients">
        <h2>Ingredient</h2>
        <ul>
            <li>2 1/4 cups {{flourType}}</li>
            <li>1 teaspoon kosher salt</li>
            <li>1 teaspoon {{leavening}}</li>
            <li>{{wholeEggs}} egg</li>
            <li>{{eggYokes}} egg yokes</li>
            <li>{{milk}} tablespoons whole milk</li>
            <li>1 1/2 teaspoon vanilla (or more)</li>
            <li>1 cup {{fatType}}</li>
            <li>{{whiteAmount}} cups white sugar</li>
            <li>{{brownAmount}} cups brown sugar</li>
            <li>2 cups semisweet chocolate chips (or more)</li>
        </ul>
    </div>
    <div id="Instructions">
        <h2>Instructions: </h2>
        <ol>
            <li>Heat oven to 375°F and place the racks in the top third and bottom third of the oven. Line 4 half-sheet pans with parchment paper and set aside.</li>
            <li>Mix together the flour, salt, and {{leavening}}.</li>
            <li>Cream together {{fatType}} and sugars with the paddle attachment of a stand mixer on medium speed for 2 minutes or until light in color and fluffy.</li>
            <li>Meanwhile in a separate bowl, whisk together the eggs, egg-yokes, milk, and vanilla extract.</li>
            <li>Slow the mixer to “stir” (or lowest setting) and slowly work the egg mixture into the butter and sugar. Mix until thoroughly combined, about 30 seconds. </li>
            <li>Gradually integrate the dry ingredients, stopping a few times to scrape down the side of the bowl with a rubber spatula.</li>
            <li>Once the flour is worked in, add the chocolate chips.</li>
            <li>(Optional) Chill the dough for 1 hour.</li>
            <li>Scoop the dough into 1 1/2-ounce portions and place on the half-sheet pans, 6 cookies per sheet. </li>
            <li>Bake two sheets at a time for 15 minutes, rotating pans halfway through baking.</li>
            <li>Remove from the oven, slide the parchment with the cookies onto a cooling rack, and wait at least 5 minutes before devouring.</li>
        </ol>
    </div>

</body>
</html>