<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}} GIST</title>
    <meta name="description" content="A tool for generating 3D printable Tactile Maps based on a user's unique needs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

    <!-- GIST Custom-->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <script src="{{url_for('static', filename='js/resultsPage.js')}}"></script>
</head>

<body onload="loadResults()">
    <div class="content container-fluid">


<!--        <form id="result_submission" method="post"></form>-->

        <div id="titleSection" class="spaced-div">
            <h1>{{name}} GIST Results</h1>
        </div>

        <div id="controls" class="spaced-div">
            <form id="update_form" method="post">
                <label for="update_input"></label>
                <input type="text" id="update_input" name="update_input" value="" size="100%" form="update_form" hidden>
            </form>
            <input type="button" class="button primary" id="load_results" value="{{load_or_update}} Results" onclick="loadResults()" form="update_form">
        </div>


        <div data-role="accordion" data-one-frame="true" data-show-active="true" class="spaced-div" id="results_accordion">
        </div>

        <div id="hiddenSubmission">
<!--            <label for="result_longPrint"></label>-->
<!--            <input type="text" id="result_longPrint" name="result_longPrint" value="" size="100%" form="result_submission">-->


<!--            <label for="result_shortPrint"></label>-->
<!--            <input type="text" id="result_shortPrint" name="result_shortPrint" value="" size="100%" form="result_submission">-->


            <p id="resultsFromPython">
                {{results}}
            </p>
        </div>



    </div>

</body>
</html>