.content{
  align-content: center;
  max-width: 95%;
  padding: 20px;
}

.results_table{
  max-width: 80%;
}

.hiddenLabels{
  visibility: hidden;
  display: none;
}

.spaced-div{
  margin-top: 20px;
  margin-bottom: 20px;
}

#output_result{
  position: absolute;
  right: 0;
}

